In [20]:
import os
import sys
import requests
import pandas as pd

In [15]:
!pip install requests

Requirement already satisfied: requests in c:\users\91832\anaconda3\lib\site-packages (2.26.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\91832\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\91832\anaconda3\lib\site-packages (from requests) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\91832\anaconda3\lib\site-packages (from requests) (1.26.7)
Requirement already satisfied: idna<4,>=2.5 in c:\users\91832\anaconda3\lib\site-packages (from requests) (3.2)

In [18]:
def get_html(start_year,end_year):
    for year in range(start_year,end_year+1):
        for month in range(1,13):
            if month < 10:
                url=f"https://en.tutiempo.net/climate/0{month}-{year}/ws-421820.html"
            else:
                url=f"https://en.tutiempo.net/climate/{month}-{year}/ws-421820.html"
            data=requests.get(url).text                
            if not os.path.exists(f'data/html_data/{year}'):
                os.makedirs(f'data/html_data/{year}')
            with open(f'data/html_data/{year}/{month}.html',"w") as f:
                f.write(data)

In [19]:
get_html(2010,2012)

In [49]:
#create the target variable
def avg_data_2013():
    average = []
    for rows in pd.read_csv("AQI/aqi2013.csv",chunksize=24):
        data=[]
        add_var=0
        df=pd.DataFrame(rows)
        for _ , row in df.iterrows():
            data.append(row['PM2.5'])

        for value in data:
            if type(value) in [float,int]:
                add_var += value
            elif type(value) is str:
                if value not in ['NoData',"PwrFail","---","InVld"]:
                    add_var += float(value)
        hr_avg=add_var/24

        average.append(hr_avg)

    return average

In [50]:
pd.read_csv("AQI/aqi2013.csv")[0:26]

                   Date      Time  PM2.5 PM2.5 AQI
0              1/1/2013   1:00 AM  324.4       238
1              1/1/2013   2:00 AM  366.8       243
2              1/1/2013   3:00 AM  290.7       250
3              1/1/2013   4:00 AM  245.4       254
4              1/1/2013   5:00 AM  220.3       259
5              1/1/2013   6:00 AM  180.2       262
6              1/1/2013   7:00 AM    140       264
7              1/1/2013   8:00 AM    125       265
8              1/1/2013   9:00 AM    111       265
9              1/1/2013  10:00 AM    112       264
10             1/1/2013  11:00 AM  129.4       263
11             1/1/2013  12:00 PM  184.1       261
12             1/1/2013   1:00 PM  284.8       261
13             1/1/2013   2:00 PM  372.3       263
14             1/1/2013   3:00 PM  456.7       270
15             1/1/2013   4:00 PM  404.8       282
16             1/1/2013   5:00 PM  328.1       290
17             1/1/2013   6:00 PM  274.4       296
18             1/1/2013   7:00 PM    285       299
19             1/1/2013   8:00 PM  354.9       500
20             1/1/2013   9:00 PM  395.5       500
21             1/1/2013  10:00 PM  392.7       500
22             1/1/2013  11:00 PM  442.1       500
23  01/01/2013 24:00 AM       NaN  414.5       500
24             2/1/2013   1:00 AM  391.2       500
25             2/1/2013   2:00 AM  375.1       500

In [51]:
len(avg_data_2013())

365